body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:20px;
}

.section{
  max-width:900px;
  margin:auto;
}

.hidden{
  display:none;
}

h1,h2{
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  margin-top:30px;
}

.card{
  background:#1e293b;
  border-radius:12px;
  overflow:hidden;
  cursor:pointer;
  transition:0.3s;
}

.card img{
  width:100%;
  height:140px;
  object-fit:cover;
}

.card h3{
  padding:15px;
  text-align:center;
}

.card:hover{
  transform:scale(1.05);
}

.top-bar{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

#questionBox{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

.option{
  background:#334155;
  padding:10px;
  margin-top:10px;
  border-radius:6px;
  cursor:pointer;
}

.option:hover{
  background:#475569;
}

img{
  max-width:100%;
  margin:10px 0;
}

button{
  padding:10px;
  margin-top:20px;
}